@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
}

.header-font {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.content-wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1440px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

header {
  background: url(../../../images/desktop/image-header.jpg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-top: 100px;
  margin-bottom: 175px;
  text-shadow: 1px 1px #5a636c;
}

header img {
  -webkit-filter: drop-shadow(0.5px 0.5px 1px #333);
          filter: drop-shadow(0.5px 0.5px 1px #333);
}

.top--nav {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 30px;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .navbar__logo {
  font-size: 3rem;
  text-shadow: 1px 1px #5a636c;
}

.navbar .hamburger {
  background-color: transparent;
  border: 0;
  font-size: 3rem;
  cursor: pointer;
  display: none;
  color: white;
}

.navbar .navbar__links-container {
  list-style: none;
}

.navbar .navbar__links-container li:last-child a {
  color: #23303e;
  background: white;
  text-transform: uppercase;
  text-shadow: none;
}

.navbar .navbar__links-container .navbar__link {
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  margin-left: 10px;
  text-shadow: 1px 1px #5a636c;
}

.navbar .navbar__links-container .navbar__link:hover, .navbar .navbar__links-container .navbar__link:focus, .navbar .navbar__links-container .navbar__link:active {
  background-color: #87c8e9;
  color: white;
}

.info__gallery {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.info__gallery .info__gallery-card {
  width: 50%;
  height: 600px;
}

.info__gallery .info__gallery-card .info__gallery-title {
  font-size: 4rem;
  width: 60%;
  margin: 0;
}

.info__gallery .info__gallery-card .info__gallery-text {
  width: 62%;
  line-height: 3rem;
  margin: 50px 0px;
}

.info__gallery .info__gallery-card .btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #23303e;
  position: relative;
  left: -20%;
}

.info__gallery .info__gallery-card .btn::before {
  content: '';
  height: 10px;
  width: 120%;
  left: -10%;
  bottom: -4px;
  position: absolute;
  border-radius: 15px;
  opacity: 0.3;
}

.info__gallery .info__gallery-card .btn1::before {
  background: #fad400;
}

.info__gallery .info__gallery-card .btn2::before {
  background: #fe7867;
}

.info__gallery .info__gallery-img {
  width: 50%;
}

.info__gallery .info__gallery-img img {
  display: block;
}

.info__gallery .card--bg1 {
  background: url(../../../images/desktop/image-graphic-design.jpg);
}

.info__gallery .card--bg2 {
  background: url(../../../images/desktop/image-photography.jpg);
}

.info__gallery .card--text {
  text-align: center;
  padding-top: 370px;
}

.info__gallery .card--text .info__gallery-title {
  font-size: 3rem;
}

.info__gallery .card--text .info__gallery-text {
  width: 55%;
}

@media (max-width: 760px) {
  .navbar .navbar__links-container {
    display: none;
    width: 100%;
  }
  .navbar .navbar__links-container.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .hamburger {
    display: block;
  }
}
